html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #70c5ce;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #70c5ce;
}